{% extends 'base.html.twig' %}

{% block title %}
	{{ topic.title }}
	| SlackOverflow
{% endblock %}

{% block body %}
	<div class="d-flex container-fluid justify-content-center ">
		<div class="card mt-5 mb-0 col-md-8 p-0">
			<h5 class="card-header">Posté par
				{{ topic.author }}<small class="float-right">
					le
					{{ topic.createdAt|date("d/m/Y") }}
					à
					{{ topic.createdAt|date("H:i") }}</small>
			</h5>
			<div class="card-body">
				<h5 class="card-title">{{ topic.title }}</h5>
				<p class="card-text">{{ topic.content }}</p>
				<h6>Score =
					{{ topic.likeAmount }}
				</h6>
				{% for role in app.user.roles %}
					{% if app.user.roles == 'ROLE_ADMIN' %}
						<a href="{{ path('edit_topic', { 'id': topic.id }) }}" class="btn btn-primary float-left">Editer</a>
						<a href="{{ path('delete_topic', { 'id': topic.id }) }}" class="btn btn-primary float-left">Supprimer</a>
					{% endif %}
				{% endfor %}
				<a href="{{ path('create_post', { 'topic_id': topic.id }) }}" class="btn btn-primary float-right">Répondre</a>
				<a href="{{ path('dislike_topic', { 'id': topic.id }) }}" class="btn btn-primary float-right">Downvote</a>
				<a href="{{ path('like_topic', { 'id': topic.id }) }}" class="btn btn-primary float-right">Upvote</a>
				<a href="{{ path('report_topic', { 'id': topic.id }) }}" class="btn btn-primary float-right">Report</a>

			</div>
		</div>
	</div>

	{% if posts %}
		{% for post in posts %}
			<div class="d-flex container-fluid justify-content-center ">
				<div class="card my-0 col-md-8 p-0">
					<h5 class="my-1 mx-3">
						{{ post.author }}
						a répondu
						<small class="float-right">
							le
							{{ post.createdAt|date("d/m/Y") }}
							à
							{{ post.createdAt|date("H:i") }}</small>
					</h5>
					<div class="card-body">
						<p class="card-text">{{ post.content }}</p>
						<h6>Score =
							{{ post.likeAmount }}
						</h6>

						{% if post.author == app.user %}
							<a href="{{ path('edit_post', { 'post_id': post.id, 'topic_id': topic.id}) }}" class="btn btn-primary float-left">Editer</a>
							{% if comments[post.id] == NULL %}
								<a href="{{ path('delete_post', { 'id': post.id }) }}" class="btn btn-primary float-left">Supprimer</a>

							{% endif %}
						{% endif %}

						<a href="{{ path('create_comment', { 'post_id': post.id }) }}" class="btn btn-primary float-right">Commenter</a>
						<a href="{{ path('dislike_post', { 'id': post.id }) }}" class="btn btn-primary float-right">Downvote</a>
						<a href="{{ path('like_post', { 'id': post.id }) }}" class="btn btn-primary float-right">Upvote</a>
						<a href="{{ path('report_post', { 'id': post.id }) }}" class="btn btn-primary float-right">Report</a>
					</div>
				</div>
			</div>

			{% if comments[post.id] %}
				{% for  comment in  comments[post.id]%}

					<div class="d-flex container-fluid justify-content-center px-5">
						<div class="card my-0 col-md-8 p-0">
							<h6 class="my-1 mx-3">
								{{ comment.author }}
								a commenté
								<small class="float-right">
									le
									{{ comment.createdAt|date("d/m/Y") }}
									à
									{{ comment.createdAt|date("H:i") }}</small>
							</h5>
							<div class="card-body">
								<p class="card-text">{{ comment.content }}</p>
								<h6>Score =
									{{ comment.likeAmount }}
								</h6>

								{% if comment.author == app.user %}
									<a href="{{ path('edit_comment', { 'comment_id': comment.id, 'post_id': post.id}) }}" class="btn btn-primary float-left">Editer</a>
									<a href="{{ path('delete_comment', { 'id': comment.id }) }}" class="btn btn-primary float-left">Supprimer</a>
								{% endif %}


								<a href="{{ path('dislike_comment', { 'id': comment.id }) }}" class="btn btn-primary float-right">Downvote</a>
								<a href="{{ path('like_comment', { 'id': comment.id }) }}" class="btn btn-primary float-right">Upvote</a>
								<a href="{{ path('report_comment', { 'id': comment.id }) }}" class="btn btn-primary float-right">Report</a>

							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}


		{% endfor %}
	{% endif %}
{% endblock %}
