{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }} | SlackOverflow{% endblock %}

{% block body %}
	<h3>
		{{ topic.title }}
	</h3>
	<p>
		{{ topic.author }}<br>
		{{ topic.content}}
	</p>
	{# {% for post in posts %}
	<p>
		{{ post.author }} answered<br>
		{{ post.content}} the {{ post.createdAt | date("m/d/Y")}} at {{ post.createdAt | date("H:i:s")}}
	</p>
	{% endfor %} #}
{% endblock %}
