{% extends 'base.html.twig' %}

{% block title %}SlackOverflow{% endblock %}

{% block body %}
	{# <h3>
		{{ topic.title }} is topic {{ topic.id }}
	</h3>
	<p>
		{{ topic.content }}
	</p> #}
	<p>
		{{ post.author }} a répondu<br>
		{{ post.content}} le {{ post.createdAt | date("m/d/Y")}} à {{ post.createdAt | date("H:i:s")}}
	</p>
{% endblock %}
