{% extends 'base.html.twig' %}

{% block title %}
	Comment List
	| SlackOverflow
{% endblock %}

{% block body %}
	{% if comments %}
    <h3 class="text-center">Liste des Commentaires</h3>
		{% for comment in comments %}
			<div class="d-flex container-fluid justify-content-center my-3">
				<div class="card my-0 col-md-8 p-0">
					<h5 class="my-1 mx-3">
						{{ comment.author }}
						a répondu
						<small class="float-right">
							le
							{{ comment.createdAt|date("d/m/Y") }}
							à
							{{ comment.createdAt|date("H:i") }}</small>
					</h5>
					<div class="card-body">
						<p class="card-text">{{ comment.content }}</p>
						<h6>Score =
							{{ comment.likeAmount }}
						</h6>

						{% if comment.author == app.user %}
							<a href="{{ path('edit_comment', { 'comment_id': comment.id, 'post_id': comment.postId.getId()}) }}" class="btn btn-primary float-left">Editer</a>
								<a href="{{ path('delete_comment', { 'id': comment.id }) }}" class="btn btn-primary float-left">Supprimer</a>
						{% endif %}

						<a href="{{ path('create_comment', { 'comment_id': comment.id, 'post_id': comment.postId.getId()}) }}" class="btn btn-primary float-right">Commenter</a>
						<a href="{{ path('dislike_comment', { 'id': comment.id }) }}" class="btn btn-primary float-right">Downvote</a>
						<a href="{{ path('like_comment', { 'id': comment.id }) }}" class="btn btn-primary float-right">Upvote</a>
						<a href="{{ path('report_comment', { 'id': comment.id }) }}" class="btn btn-primary float-right">Report</a>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
