{% extends 'base.html.twig' %}

{% block title %}
	Comment List
	| SlackOverflow
{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path('admin') }}">Admin panel</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('all_post') }}">Tous les posts</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('all_comment') }}">Tous les commentaires</a>
		</li>
		</ul>
	</div>
</nav>

	{% if comments is defined %}
    <h3 class="text-center pt-5">Liste des derniers commentaires</h3>
		{% for comment in comments %}
			<div class="d-flex container-fluid justify-content-center my-3">
				<div class="card my-0 col-md-8 p-0">
					<h5 class="my-1 mx-3">
						{{ comment.author }}
						a répondu
						<small class="float-right">
							le
							{{ comment.createdAt|date("d/m/Y") }}
							à
							{{ comment.createdAt|date("H:i") }}</small>
					</h5>
					<div class="card-body">
						<p class="card-text">{{ comment.content }}</p>

	
						<div class="btn-group float-right" role="group">
								<a href="{{ path('report_comment', { 'id': comment.id }) }}" class="btn btn-secondary">Report</a>
							{% if comment.author == app.user %}
								<a href="{{ path('edit_comment', { 'comment_id': comment.id, 'post_id': comment.postId.getId()}) }}" class="btn btn-secondary">Editer</a>
								<a href="{{ path('delete_comment', { 'id': comment.id }) }}" class="btn btn-secondary">Supprimer</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}
